@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

*{
  font-family: 'Roboto Condensed', sans-serif;

 padding: 0px;
}

.bodyContent{
  margin: auto;

  max-width: 500px;
}

.navigationHeader{
 
  background-color: grey;
  padding: 0.5rem;

}
li {
  display: flex;
  justify-content: center;
  align-items: top;
  background-color: grey;
  margin-bottom: 1rem;
  border-radius: 1rem;
  text-align: left;
  color: white;
}

img {
  min-height: 150px;
  width: 100px;
  object-fit: fill;
  padding: 1rem 0rem 1rem 1rem;
  float: left;
  margin: 15px;
}
.navigationHeader .listView{
  display: inline;
  color: black;
  text-align: left;
  padding: 1rem;
}
.link{
  background-color:none;
  font-weight: bold;
  background-color: grey;
  border: none;
  cursor: pointer;
  padding: 1rem;
  font-size: larger;
}
.buttonStyle{
  cursor: pointer;
  padding: 1rem;
  background-color: transparent;
  font-size: larger;
  color: white;
  border: 1px solid transparent;
}

button:active{
  color : blue;
}

button:hover{
  color: blue;
}